body {
  background: lightgray;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 15px 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  padding: 20px 0;
}

.date {
  opacity: 0.7;
}

.time {
  margin: 15px 0 5px;
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 18px;
}
